:root {
    --web-text: #626262;
    --a-text: #03A9F4;
    --small-text: #B4AD9E;
    --header-text: #7D7D7D;

}

body{
    background:#ffffff;
}

.block{
    width:420px;
}

.header-text {
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;

}

#header{
    width: 350px;
    margin: 40px auto 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-div{
    display: flex;
    gap: 30px;
}

.header-text_a {
    font-family: "Playfair Display", serif;
    color: var(--a-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    text-decoration: none;
}

.block-small_text {
    font-family: "Ubuntu", sans-serif;
    color: var(--small-text);
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 40px;
}


.block-h{
    font-family: "Playfair Display", serif;
    color: var(--web-text);
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 40px;
}

.block-text{
    font-family: "Playfair Display", serif;
    color: var(--web-text);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0;
}

.btn {
    font-family: "Playfair Display", serif;
    color: var(--web-text);
    border-color: var(--web-text);
    padding: 20px 40px;
    border-radius: 0;
    border-color: var(--web-text);
    background-color: white;
    cursor: pointer;
    margin: 60px auto;
    display: block;
    grid-column: span 2;
    justify-self: center;
}

img{
    margin-bottom:20px;
}

.lifestyle{
    width: 900px;
    display: grid;
    grid-column: 2;
    gap: 60px;
    grid-template-columns: 420px 420px;
    margin: 0 auto;
}