:root {
    --web-text: #626262;
    --a-text: #03A9F4;
    --small-text: #B4AD9E;
    --header-text: #7D7D7D;

}


.header-text {
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;

}

.header-text_a {
    font-family: "Playfair Display", serif;
    color: var(--a-text);
    font-weight: 400px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}

.block_1-small_text {
    font-family: "Ubuntu", sans-serif;
    color: var(--small-text);
    font-weight: 300px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}

.block_2-small_text {
    font-family: "Ubuntu", sans-serif;
    color: var(--small-text);
    font-weight: 300px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}

.block_3-small_text {
    font-family: "Ubuntu", sans-serif;
    color: var(--small-text);
    font-weight: 300px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}

.block_4-small_text {
    font-family: "Ubuntu", sans-serif;
    color: var(--small-text);
    font-weight: 300px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}

.block_5-small_text {
    font-family: "Ubuntu", sans-serif;
    color: var(--small-text);
    font-weight: 300px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}

.block_6-small_text {
    font-family: "Ubuntu", sans-serif;
    color: var(--small-text);
    font-weight: 300px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
}


.block_1-h {
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 30px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.block_2-h {
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 30px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.block_3-h {
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 30px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.block_4-h {
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 30px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.block_5-h {
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 30px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.block_6-h {
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 30px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.block_1-text{
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 14px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.block_2-text{
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 14px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.block_3-text{
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 14px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.block_4-text{
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 14px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.block_5-text{
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 14px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.block_6-text{
    font-family: "Playfair Display", serif;
    color: var(--header-text);
    font-weight: 400px;
    font-size: 14px;
    font-style: regular;
    line-height: 100%;
    letter-spacing: 0;
}

.btn {
    border-color: var(--web-text);
    border-radius: 0;
    background-color: white;
}